body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
}

#myBtn {
  font-size: 20pt;
  color: #1F1F31;
  position: fixed;
  bottom: 8px;
  right: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#myBtn:hover {
  bottom: 18px;
}

body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
}

#myBtn {
  font-size: 20pt;
  color: #1F1F31;
  position: fixed;
  bottom: 8px;
  right: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#myBtn:hover {
  bottom: 18px;
}

html {
  scroll-behavior: smooth;
}
html #welcome-header {
  height: 550px;
}
html #welcome-heading {
  background-color: #1F1F31;
  height: 400px;
  width: 100%;
  margin-top: -20px;
}
html #title-heading {
  padding: 2vw;
  font-size: 40pt;
  color: #F7F7F7;
  font-family: "Bitter", serif;
}
html #subtitle-heading {
  margin-top: -4.5vw;
  padding: 2vw;
  font-size: 18pt;
  color: #F7F7F7;
  font-family: "Noto Sans TC", sans-serif;
}
html #menu-total {
  width: 390px;
  height: 390px;
  border: 15px solid #1F1F31;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vw;
  margin-bottom: -14vw;
  position: relative;
}
html #arrow-down {
  width: 100%;
  margin-top: 5vw;
  text-align: center;
  font-size: 35pt;
  color: #1F1F31;
  cursor: pointer;
}
html #arrow-down:hover {
  margin-top: 6vw;
}
html #laptop-image {
  border-radius: 50%;
  width: 360px;
  height: 360px;
  position: absolute;
  z-index: 1;
  transform: rotate(2deg);
  background-color: #1F1F31;
}
@media (max-width: 650px) {
  html #laptop-image {
    height: 200px;
    width: 200px;
    background-color: #1F1F31;
  }
  html #menu-total {
    width: 230px;
    height: 230px;
    margin-top: 165px;
  }
  html #title-heading {
    font-size: 33pt;
  }
}
@media (min-width: 651px) and (max-width: 1200px) {
  html #laptop-image {
    height: 300px;
    width: 300px;
    background-color: #1F1F31;
  }
  html #menu-total {
    width: 330px;
    height: 330px;
    margin-top: 57px;
  }
}
html .menu-item {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12pt;
  color: #F7F7F7;
  cursor: pointer;
}
@keyframes showProjectsBig {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    visibility: hidden;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 1.5vw;
    left: 0;
    z-index: 0;
  }
}
@keyframes showProjectsSmall {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    visibility: hidden;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
    top: -1vw;
    left: -7vw;
    z-index: 0;
  }
}
html #menu-projects {
  transform: rotate(-45deg);
  transform-origin: center;
  z-index: 2;
  padding: 7px;
}
html #menu-projects:hover {
  border-radius: 5px;
  background-color: #93929B;
}
@keyframes showAbout {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
  }
  100% {
    top: 1vw;
    transform: translate(-50%, -150%);
  }
}
html #menu-about {
  animation: 1s showAbout;
  top: 1vw;
  transform: translate(-50%, -150%);
  padding: 7px;
}
html #menu-about:hover {
  top: 0.7vw;
  border-radius: 5px;
  background-color: #93929B;
}
@keyframes showContactBig {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    visibility: hidden;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    top: 1.5vw;
    right: 0;
    left: auto;
    z-index: 0;
  }
}
@keyframes showContactSmall {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    visibility: hidden;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    top: -1vw;
    right: -7vw;
    left: auto;
    z-index: 0;
  }
}
html #menu-contact {
  transform: rotate(45deg);
  transform-origin: center;
  left: auto;
  z-index: 2;
  padding: 7px;
}
html #menu-contact:hover {
  border-radius: 5px;
  background-color: #93929B;
}

@media (max-width: 650px) {
  #menu-contact {
    animation: 1s showContactSmall;
    right: -7vw;
    top: -1vw;
  }
  #menu-contact:hover {
    right: -7vw;
  }

  #menu-projects {
    animation: 1s showProjectsSmall;
    top: -1vw;
    left: -7vw;
  }
  #menu-projects:hover {
    left: -7vw;
  }
}
@media (min-width: 651px) {
  #menu-contact {
    animation: 1s showContactBig;
    top: 1.5vw;
    right: 0;
  }
  #menu-contact:hover {
    right: -0.5vw;
  }

  #menu-projects {
    animation: 1s showProjectsBig;
    top: 1.5vw;
    left: 0;
  }
  #menu-projects:hover {
    left: -0.5vw;
  }
}
.menu-item.js-still-loading {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
}

#myBtn {
  font-size: 20pt;
  color: #1F1F31;
  position: fixed;
  bottom: 8px;
  right: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#myBtn:hover {
  bottom: 18px;
}

#about {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin: 6vw 20vw 4vw;
}

#about-middle {
  border-top: 8px solid #808A9F;
  background-color: #F7F7F7;
  padding: 20px;
}

.text-first-middle {
  font-size: 13pt;
  margin: 4vw 13vw;
  font-family: "Noto Sans TC", sans-serif;
}

.text-middle {
  font-size: 13pt;
  margin-top: -2vw;
  margin-left: 13vw;
  margin-right: 13vw;
  font-family: "Noto Sans TC", sans-serif;
}

@media (max-width: 700px) {
  .text-first-middle {
    margin: 2vw 4vw;
    font-size: 1.2em;
  }

  .text-middle {
    margin: 2vw 4vw;
    font-size: 1.2em;
  }

  #about {
    margin: 11.5vw 10vw 8vw;
  }
}
@media (min-width: 701px) and (max-width: 1200px) {
  .text-first-middle {
    margin: 2vw 7vw;
  }

  .text-middle {
    margin: 2vw 7vw;
  }

  #about {
    margin: 6vw 17vw 8vw;
  }
}
#contact-about {
  border-radius: 5px;
  color: #1F1F31;
  background-color: #B2B1BC;
  cursor: pointer;
  padding: 2.5px;
}
#contact-about:hover {
  background-color: #1F1F31;
  color: white;
}

#about-title {
  color: #1F1F31;
  font-family: "Bitter", serif;
  text-align: center;
}

#skill-icon {
  font-size: 38pt;
  color: #454545;
}

#django-logo {
  margin-top: -1.5vw;
  height: 100px;
}

#skill-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vw;
  display: flex;
  justify-content: space-between;
}

#row-two-icons {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}

#row-three-icons {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  #skill-icon {
    font-size: 30pt;
  }

  #django-logo {
    height: 90px;
  }

  #row-one-icons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #row-two-icons {
    margin-top: 0vw;
    margin-left: auto;
    margin-right: auto;
    width: 32vw;
    display: flex;
    justify-content: space-between;
  }

  #row-three-icons {
    width: 32vw;
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
  }

  #skill-list {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 701px) and (max-width: 1200px) {
  #skill-icon {
    font-size: 30pt;
  }

  #django-logo {
    height: 80px;
  }
}
body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
}

#myBtn {
  font-size: 20pt;
  color: #1F1F31;
  position: fixed;
  bottom: 8px;
  right: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#myBtn:hover {
  bottom: 18px;
}

#projects {
  padding-top: 0.2vw;
  padding-bottom: 2.5vw;
}

#projects-middle {
  background-color: #B2B1BC;
  padding: 20px;
  position: relative;
  z-index: 0;
}

#projects-title {
  margin: 2vw 15vw;
  color: #1F1F31;
  font-family: "Bitter", serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  height: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-bottom: none;
}

.img-slide {
  height: 500px;
  width: 600px;
  position: relative;
  z-index: -1;
  opacity: 1;
  transition: opacity 1.1s ease-in-out;
}

.pic-transition:hover .slideshow-text {
  visibility: visible;
  opacity: 1;
  color: #F7F7F7;
  background-color: #808A9F;
}

.pic-transition:hover .img-slide {
  opacity: 0.2;
}

/* Caption text */
.slideshow-text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 368px;
  opacity: 0;
  visibility: hidden;
  transition: 1.1s ease-in-out;
  font-family: "Noto Sans TC", sans-serif;
}

@media (max-width: 399px) {
  .img-slide {
    height: 150px;
    width: 200px;
  }

  .slideshow-text {
    margin-top: 17px;
  }

  .prev, .next {
    top: 25%;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .img-slide {
    height: 250px;
    width: 300px;
  }

  .slideshow-text {
    margin-top: 117px;
  }

  .prev, .next {
    top: 33%;
  }
}
@media (min-width: 701px) and (max-width: 900px) {
  .img-slide {
    height: 370px;
    width: 400px;
  }

  .slideshow-text {
    margin-top: 237px;
  }

  .prev, .next {
    top: 39%;
  }
}
@media (min-width: 900px) {
  .prev, .next {
    top: 50%;
    margin-top: -3vw;
  }
}
#work-progress {
  visibility: hidden;
}

.link-slide {
  border-radius: 5px;
  text-decoration: none;
  line-height: 35pt;
  padding: 0.5vw;
  color: #F7F7F7;
  font-family: "Bitter", serif;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12pt;
  background-color: #1F1F31;
}
.link-slide:hover {
  text-decoration: none;
  color: #F7F7F7;
  background-color: #B2B1BC;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #808A9F;
  transition: 1s ease-in-out;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #1F1F31;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

.active, .dot:hover {
  background-color: #F7F7F7;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1 !important;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
}

#myBtn {
  font-size: 20pt;
  color: #1F1F31;
  position: fixed;
  bottom: 8px;
  right: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#myBtn:hover {
  bottom: 18px;
}

#contact {
  padding-top: 1vw;
  padding-bottom: 2.5vw;
  margin: 2vw 20vw 2.5vw;
}

#contact-bottom {
  background-color: #F7F7F7;
  padding: 20px;
}

#title-contact {
  color: #1F1F31;
  font-family: "Bitter", serif;
  text-align: center;
  border-bottom: 8px solid #808A9F;
  margin-bottom: 5vw;
}

#text-contact {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 13pt;
  margin: 4vw 13vw 1vw 13vw;
}

@media (max-width: 750px) {
  #text-contact {
    margin: 2vw 5vw 6vw;
    font-size: 1.2em;
  }

  #contact {
    margin: 2vw 10vw 2vw;
  }
}
@media (min-width: 751px) and (max-width: 1200px) {
  #text-contact {
    margin: 2vw 7vw;
    font-size: 1.2em;
  }

  #contact {
    margin: 6vw 18vw 2vw;
  }
}
#link-personal {
  border-radius: 5px;
  color: #1F1F31;
  background-color: #B2B1BC;
  cursor: pointer;
  padding: 2.5px;
  text-decoration: none;
}
#link-personal:hover {
  background-color: #1F1F31;
  color: white;
  text-decoration: none;
}

#contact-form {
  margin-top: 2vw;
  margin-left: 13vw;
}

label {
  font-family: "Noto Sans TC", sans-serif;
  font-style: lighter;
  display: block;
}

input {
  width: 250px;
  height: 30px;
  border: 2.5px solid #808A9F;
  border-radius: 5px;
}
input:focus {
  background-color: #FCFCFC;
  border: 2.5px solid #1F1F31;
}

textarea {
  width: 350px;
  height: 150px;
  border: 2.5px solid #808A9F;
  border-radius: 5px;
}
textarea:focus {
  background-color: #FCFCFC;
  border: 2.5px solid #1F1F31;
}

#btn-contact {
  border-radius: 5px;
  color: #1F1F31;
  background-color: #B2B1BC;
  cursor: pointer;
  padding: 5px;
  font-size: 13pt;
}
#btn-contact:hover {
  background-color: #1F1F31;
  color: white;
}

@media (max-width: 750px) {
  #contact-form {
    margin-left: 5vw;
  }

  input {
    width: 220px;
  }

  textarea {
    width: 220px;
    height: 200px;
  }
}
@media (min-width: 751px) and (max-width: 1100px) {
  #contact-form {
    margin-left: 7vw;
  }

  textarea {
    width: 250px;
    height: 200px;
  }
}
body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
}

#myBtn {
  font-size: 20pt;
  color: #1F1F31;
  position: fixed;
  bottom: 8px;
  right: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#myBtn:hover {
  bottom: 18px;
}

#border-bottom {
  height: 50px;
  margin-bottom: 0;
  background: #808A9F;
}

#icon-personal {
  display: flex;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 95vw;
}

#personal-icon {
  margin-top: 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 20pt;
  color: #1F1F31;
}
#personal-icon:hover {
  text-decoration: none;
  color: #F7F7F7;
}

/*# sourceMappingURL=style.css.map */
