body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
}

#myBtn {
  font-size: 20pt;
  color: #1F1F31;
  position: fixed;
  bottom: 15px;
  right: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn:hover {
  bottom: 18px;
}

html {
  scroll-behavior: smooth;
}
html #welcome-heading {
  background-color: #1F1F31;
  height: 55vh;
  width: 100vw;
  margin-top: -2.5vw;
}
html #title-heading {
  margin-top: 3vw;
  padding: 2vw;
  font-size: 40pt;
  color: #F7F7F7;
  font-family: "Bitter", serif;
}
html #subtitle-heading {
  margin-top: -4.5vw;
  padding: 2vw;
  font-size: 18pt;
  color: #F7F7F7;
  font-family: "Noto Sans TC", sans-serif;
}
html #menu-total {
  width: 27vw;
  height: 27vw;
  border: 15px solid #1F1F31;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: -14vw;
  position: relative;
}
html #arrow-down {
  width: 5vw;
  margin-top: 40vh;
  margin-left: 49vw;
  font-size: 35pt;
  color: #1F1F31;
  cursor: pointer;
}
html #arrow-down:hover {
  margin-top: 38vh;
}
html #laptop_image {
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  position: absolute;
  z-index: 1;
  transform: rotate(2deg);
}
html .menu-item {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 13pt;
  color: #F7F7F7;
  cursor: pointer;
}
@keyframes showProjects {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 1.5vw;
    left: 0;
    z-index: 0;
  }
}
html #menu-projects {
  animation: 1s showProjects;
  transform: rotate(-45deg);
  transform-origin: center;
  top: 1.5vw;
  left: 0;
  z-index: 2;
}
html #menu-projects:hover {
  left: -0.5vw;
  border-bottom: 2px solid #808A9F;
}
@keyframes showAbout {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  100% {
    top: 0;
    transform: translate(-50%, -150%);
  }
}
html #menu-about {
  animation: 1s showAbout;
  top: 0;
  transform: translate(-50%, -150%);
}
html #menu-about:hover {
  top: -0.5vw;
  border-bottom: 2px solid #808A9F;
}
@keyframes showContact {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    top: 1.5vw;
    right: 0;
    left: auto;
    z-index: 0;
  }
}
html #menu-contact {
  animation: 1s showContact;
  transform: rotate(45deg);
  transform-origin: center;
  top: 1.5vw;
  right: 0;
  left: auto;
  z-index: 2;
}
html #menu-contact:hover {
  right: -0.5vw;
  border-bottom: 2px solid #808A9F;
}

#about {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin: 25vw 20vw 8vw;
}

#about-middle {
  border-top: 8px solid #808A9F;
  background-color: #F7F7F7;
  height: 20vw;
  padding: 20px;
}

.text-middle {
  font-size: 13pt;
  margin-left: 13vw;
  margin-right: 13vw;
  font-family: "Noto Sans TC", sans-serif;
}

#contact-about {
  color: #1F1F31;
  background-color: #808A9F;
  cursor: pointer;
  padding: 3px;
}
#contact-about:hover {
  background-color: #DDA448;
}

#about-title {
  color: #1F1F31;
  font-family: "Bitter", serif;
  text-align: center;
}

#skill-icon {
  font-size: 30pt;
  color: #454545;
}

#django-logo {
  margin-top: -1.5vw;
  height: 5vw;
}

#skill-list {
  margin-top: 10vw;
  display: flex;
  justify-content: space-around;
}

#projects {
  padding-top: 0.2vw;
  padding-bottom: 2.5vw;
}

#projects-middle {
  background-color: #1F1F31;
  height: 39vw;
  padding: 20px;
  position: relative;
  z-index: 0;
}

#projects-title {
  margin: 2vw 15vw;
  color: #1F1F31;
  font-family: "Bitter", serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  height: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-bottom: none;
}

.img-slide {
  height: 33vw;
  width: 48vw;
  position: relative;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.pic-transition:hover .slideshow-text {
  visibility: visible;
  opacity: 1;
  color: #F7F7F7;
}

.pic-transition:hover .img-slide {
  opacity: 0.15;
}

/* Caption text */
.slideshow-text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 10vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  font-family: "Noto Sans TC", sans-serif;
}

.link-slide {
  text-decoration: none;
  line-height: 35pt;
  padding: 0.5vw;
  color: #F7F7F7;
  font-family: "Bitter", serif;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 12pt;
  background-color: #DDA448;
}
.link-slide:hover {
  text-decoration: none;
  color: #F7F7F7;
  background-color: #808A9F;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #808A9F;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: #808A9F;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #DDA448;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1 !important;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#contact {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#contact-bottom {
  background-color: #F7F7F7;
  height: calc(calc(100vh - 5vw) - 52px);
  padding: 20px;
}

#title-contact {
  color: #1F1F31;
  font-family: "Bitter", serif;
  text-align: center;
}

#text-contact {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 13pt;
}

#border-bottom {
  height: 3vw;
  margin-bottom: 0;
  background: #DDA448;
}

/*# sourceMappingURL=style.css.map */
