body {
  padding: 1vw;
  background: linear-gradient(to bottom, #FFFFFA 0%, #667884 100%);
}

#welcome-heading {
  background-color: #8BA886;
  border-radius: 5px;
  height: 55vh;
  width: 80vw;
  margin-left: 8vw;
  margin-top: 18vw;
}

#title-heading {
  padding: 2vw;
  font-size: 40pt;
  margin-left: 10vw;
  color: white;
}

#subtitle-heading {
  font-size: 40pt;
  margin-top: -3vw;
  margin-left: 56vw;
  font-size: 30pt;
  color: white;
}

#outside-heading {
  font-size: 20pt;
  margin-top: 12vw;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
}

#menu-total {
  width: 25vw;
  height: 25vw;
  border: 6px solid #485144;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -21.5vw;
  margin-bottom: -14vw;
  position: relative;
  font-family: "Anton", sans-serif;
}

#laptop_image {
  width: 25vw;
  height: 25vw;
  position: absolute;
  z-index: 1;
}

.menu-item {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes showProjects {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 1.5vw;
    left: 0;
    z-index: 0;
  }
}
#menu-projects {
  animation: 1s showProjects;
  transform: rotate(-45deg);
  transform-origin: center;
  top: 1.5vw;
  left: 0;
  z-index: 2;
}
#menu-projects:hover {
  left: -0.5vw;
  border-bottom: 2px solid #75846F;
}

@keyframes showAbout {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  100% {
    top: 0;
    transform: translate(-50%, -150%);
  }
}
#menu-about {
  animation: 1s showAbout;
  top: 0;
  transform: translate(-50%, -150%);
}
#menu-about:hover {
  top: -0.5vw;
  border-bottom: 2px solid #75846F;
}

@keyframes showContact {
  0% {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    top: 1.5vw;
    right: 0;
    left: auto;
    z-index: 0;
  }
}
#menu-contact {
  animation: 1s showContact;
  transform: rotate(45deg);
  transform-origin: center;
  top: 1.5vw;
  right: 0;
  left: auto;
  z-index: 2;
}
#menu-contact:hover {
  right: -0.5vw;
  border-bottom: 2px solid #75846F;
}

#about {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#about-middle {
  border: 6px solid #75846F;
  box-shadow: 5px 5px #485144;
  background-color: white;
  height: calc(calc(100vh - 5vw) - 52px);
  padding: 20px;
}

#projects {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#projects-middle {
  border: 6px solid #75846F;
  box-shadow: 5px 5px #485144;
  background-color: white;
  height: calc(calc(100vh - 5vw) - 52px);
  padding: 20px;
}

#contact {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#contact-bottom {
  border: 6px solid #75846F;
  box-shadow: 5px 5px #485144;
  background-color: white;
  height: calc(calc(100vh - 5vw) - 52px);
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
