{% extends "base.html" %}
{% load static %}
{% load render_partial %}

{% block body %}

<base target="_blank">

<a onclick="topFunction()" id="myBtn" title="Go to top">
  <i class="fas fa-arrow-up"></i>
</a>

{# heading #}

<div id="welcome-header">
  <div id="welcome-heading">
    <h1 id="title-heading">Dide Mertens</h1>
    <h3 id="subtitle-heading">Full-stack web developer</h3>
    <div id="menu-total">
      <h3 class="menu-item" id="menu-projects" onclick="jump('projects')">PROJECTS</h3>
      <h3 class="menu-item" id="menu-about" onclick="jump('about')">ABOUT</h3>
      <h3 class="menu-item" id="menu-contact" onclick="jump('contact')">CONTACT </h3>
      <img id="laptop-image" src="{% static "media/prof-pic.png" %}"
      alt="laptop image">
    </div>
  </div>
</div>

<div id="arrow-down">
  <i class="fas fa-arrow-down" onclick="jump('about')"></i>
</div>

{# About middle #}

<div id="about">
  <h1 id="about-title">About me</h1>
  <div id="about-middle">
    <p class="text-first-middle">I'm a full-stack web developer in London, with a background in translation. I specialise in websites with Django and JavaScript. I'm currently giving courses on HTML and CSS to introduce people to the amazing world of web development.</p></br><p class="text-middle" onclick="jump('contact')"><span id="contact-about">Contact</span>
      me if you want me to build you a website,
      if I can help solve a problem or if you just want to chat.</p>
    <div id="skill-list">
      <div id="row-one-icons">
      <img id="django-logo" src="{% static "media/django-logo.png" %}" alt="django">
      </div>
      <div id="row-two-icons">
      <i id="skill-icon" class="fab fa-python"></i>
      <i id="skill-icon" class="fab fa-js-square"></i>
      </div>
      <div id="row-three-icons">
        <i id="skill-icon" class="fab fa-html5"></i>
        <i id="skill-icon" class="fab fa-css3"></i>
      </div>
    </div>
  </div>
</div>

{# projects middle #}

<div id="projects">
  <h1 id="projects-title">My projects</h1>
  <div id="projects-middle">

    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with caption text -->
      <div class="mySlides fade">
        <div class="pic-transition">
          <div class="slideshow-text"><h4>Book Blog</h4>
            <p>Django, JavaScript, HTML, CSS</p>
            <div id="btn-row">
              <a class="link-slide" href="https://bookblogdide.herokuapp.com/">
              Website</a>
              <a class="link-slide" href="https://github.com/didemertens/bookblog">
              GitHub</a>
              </div>
            </div>
            <img class="img-slide" src="{% static "media/book-pic.png" %}"
            style="width:100%">
        </div>
      </div>

      <div class="mySlides fade">
        <div class="pic-transition">
          <div class="slideshow-text"><h4>Paint Your Mood</h4>
            <p>Django, JavaScript, HTML, CSS</p>
            <div id="btn-row">
              <a class="link-slide" href="https://paintyourmood.herokuapp.com/">Website</a>
              <a class="link-slide" href="https://github.com/didemertens/painting">GitHub</a>
            </div>

          </div>
          <img class="img-slide" src="{% static "media/paint-mood.png" %}" style="width:100%">
          </div>
        </div>

      <div class="mySlides fade">
        <div class="pic-transition">
          <div class="slideshow-text"><h4>Portfolio Freelance Writer </br>(work in progress)</h4>
            <p>JavaScript, HTML, CSS</p>
            <div id="btn-row">
              <a id="work-progress" class="link-slide"></a>
              <a id="work-progress" class="link-slide"></a>
            </div>

          </div>
          <img class="img-slide" src="{% static "media/esther-1-test.png" %}" style="width:100%">
          </div>
        </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <br>

    <!-- The dots/circles -->
    <div id="dots-row" style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    </div>
  </div>
</div>

{# contact bottom #}

<div id="contact">
  <div id="contact-bottom">
    <h1 id="title-contact">Contact me</h1>

    <p id="text-contact">You can find me on <a href="https://github.com/didemertens"id="link-personal" >Github</a> and
      <a href="https://www.linkedin.com/in/didemertens/" id="link-personal" >LinkedIn</a>. Or send me an email with the form below and I will get back to you as soon as possible.</p>

    <div id="contact-form">
      {% render_partial 'basic_app.views.emailView' %}
    </div>
  </div>
</div>

{# border #}

<div id="border-bottom">
  <div id="icon-personal">
    <a href="https://github.com/didemertens"><i id="personal-icon" class="fab fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/didemertens/"><i id="personal-icon" class="fab fa-linkedin"></i></a>
  </div>
</div>

{# javascript #}

<script type="text/javascript"
src="{% static "jquery/jquery-3.4.1.min.js" %}"></script>

<script src="static/js/scroll-top.js"></script>
<script src="static/js/jump.js"></script>
<script src="static/js/slideshow.js"></script>
<script src="static/js/contact.js"></script>
{% endblock body %}
