{% extends "base.html" %}
{% load static %}

{% block body %}

<a onclick="topFunction()" id="myBtn" title="Go to top">
  <i class="fas fa-arrow-up"></i>
</a>

{# heading #}

<div id="welcome-heading">
  <h1 id="title-heading">Dide Mertens</h1>
  <h3 id="subtitle-heading">Full-stack web developer</h3>
  <div id="menu-total">
    <h3 class="menu-item" id="menu-projects" onclick="jump('projects')">PROJECTS</h3>
    <h3 class="menu-item" id="menu-about" onclick="jump('about')">ABOUT</h3>
    <h3 class="menu-item" id="menu-contact" onclick="jump('contact')">CONTACT </h3>
    <img id="laptop_image" src="{% static "media/prof-pic.png" %}"
    alt="laptop image">
  </div>
  <div id="arrow-down">
    <i class="fas fa-arrow-down" onclick="jump('about')"></i>
  </div>
</div>

{# About middle #}

<div id="about">
  <h1 id="about-title">About me</h1>
  <div id="about-middle">
    <p class="text-middle">I'm a full-stack web developer in London with a love for Python,
      JavaScript, Django, HTML and CSS.</p></br><p class="text-middle" onclick="jump('contact')"
      id="text-middle"><span id="contact-about">Contact</span>
      me if you want me to build you a website,
      if I can help solve a problem or if you just want to chat.</p>
    <ul id="skill-list">
        <i id="skill-icon" class="fab fa-python"></i>
      <img id="django-logo" src="{% static "media/django-logo.png" %}" alt="django">
      <i id="skill-icon" class="fab fa-html5"></i>
      <i id="skill-icon" class="fab fa-css3"></i>
      <i id="skill-icon" class="fab fa-js-square"></i>
    </ul>
  </div>
</div>

{# projects middle #}

<div id="projects">
  <h1 id="projects-title">My projects</h1>
  <div id="projects-middle">

    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with caption text -->
      <div class="mySlides fade">
        <div class="pic-transition">
          <div class="slideshow-text"><h4>Book Blog</h4>
            <p>Django, HTML, CSS, JavaScript</p>
            <a class="link-slide" target="_blank" href="https://bookblogdide.herokuapp.com/">
            Go to website</a></div>
            <img class="img-slide" src="{% static "media/book-pic.png" %}"
            style="width:100%">
        </div>
      </div>

      <div class="mySlides fade">
        <div class="pic-transition">
          <div class="slideshow-text"><h4>Portfolio Freelance Writer</h4>
            <p>Django, HTML, CSS, JavaScript</p>
            <a class="link-slide" target="_blank" href="https://bookblogdide.herokuapp.com/">
            Go to website</a></div>
          <img class="img-slide" src="{% static "media/esther-1-test.png" %}" style="width:100%">
          </div>
        </div>

      <div class="mySlides fade">
        <div class="pic-transition">
          <div class="slideshow-text"><h4>Freelance Journalist Portfolio</h4>
            <p>Django, HTML, CSS, JavaScript</p>
            <a class="link-slide" target="_blank" href="https://bookblogdide.herokuapp.com/">
            Go to website</a></div>
          <img class="img-slide" src="{% static "media/esther-2-test.png" %}" style="width:100%">
        </div>
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    </div>
  </div>
</div>

{# contact bottom #}

<div id="contact">
  <div id="contact-bottom">
    <h1 id="title-contact">Contact me</h1>
    <p id="text-contact">You can reach me on</p>
  </div>
</div>

{# border #}

<div id="border-bottom">
  <h4>end</h4>
</div>

{# javascript #}

<script src="static/js/jump.js"></script>
<script src="static/js/scroll-top.js"></script>
<script src="static/js/slideshow.js"></script>
{% endblock body %}
