#about{
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin: 25vw 20vw 5vw;
}

#about-middle{
  border-top: 8px solid $border-blue;
  border-bottom: 8px solid $border-blue;
  background-color: $white-back;
  height: 20vw;
  padding: 20px;
}

#about-title{
  color: $dark-blue;
  font-family: 'Noto Sans TC', sans-serif;
}

#skill-icon{
  font-size: 30pt;
  color: $skill-color;
}

#django-logo{
  margin-top: -1.5vw;
  height: 5vw;
}

#skill-list{
  margin-top: 10vw;
  display: flex;
  justify-content: space-around;
}
