#about{
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin: 25vw 15vw;
}

#about-middle{
  border-top: 12px solid $border-blue;
  border-bottom: 12px solid $border-blue;
  background-color: $white-back;
  height: calc(calc(100vh - 5vw) - 52px);
  padding: 20px;
}
