#contact{
  padding-top: 1vw;
  padding-bottom: 2.5vw;
  margin: 2vw 20vw 2.5vw;
}

#contact-bottom{
  background-color: #F7F7F7;
  height: 43vw;
  padding: 20px;
}

#title-contact{
  color: $dark-blue;
  font-family: 'Bitter', serif;
  text-align: center;
  border-bottom: 8px solid $border-blue;
}


#text-contact{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 13pt;
  margin: 4vw 13vw;
}

#link-personal{
  border-radius: 5px;
  color: $dark-blue;
  background-color: $grey-button;
  cursor: pointer;
  padding: 2.5px;
  text-decoration: none;
  &:hover{
    background-color: $dark-blue;
    color: white;
    text-decoration: none;
  }
}

#contact-form{
  margin-top: 2vw;
  margin-left: 15vw;
}

label{
  font-family: 'Noto Sans TC', sans-serif;
  font-style: lighter;
  display: block;
}

input{
  width: 25vw;
  height: 2vw;
  border: 2px solid $border-blue;
  &:focus{
    background-color: $white-form;
  }
}

textarea{
  width: 25vw;
  height: 10vw;
  border: 2px solid $border-blue;
  &:focus{
    background-color: $white-form;
  }
}

#btn-contact{
  border-radius: 5px;
  color: $dark-blue;
  background-color: $grey-button;
  cursor: pointer;
  padding: 5px;
  font-size: 13pt;
    &:hover{
    background-color: $dark-blue;
    color: white;
  }
}
