#contact{
  padding-top: 1vw;
  padding-bottom: 2.5vw;
  margin: 2vw 20vw 2.5vw;
}

#contact-bottom{
  background-color: #F7F7F7;
  padding: 20px;
}

#title-contact{
  color: $dark-blue;
  font-family: 'Bitter', serif;
  text-align: center;
  border-bottom: 8px solid $border-blue;
  margin-bottom: 5vw;
}


#text-contact{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 13pt;
  margin: 4vw 13vw 1vw 13vw;
}

@media (max-width: 600px) {
  #text-contact{
    margin: 2vw 4vw 6vw;
    font-size: 14pt;
}
  #contact{
    margin: 2vw 10vw 2vw;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  #text-contact{
    margin: 2vw 7vw;
  }
  #contact{
    margin: 2vw 17vw 2vw;
  }
}

#link-personal{
  border-radius: 5px;
  color: $dark-blue;
  background-color: $grey-button;
  cursor: pointer;
  padding: 2.5px;
  text-decoration: none;
  &:hover{
    background-color: $dark-blue;
    color: white;
    text-decoration: none;
  }
}

#contact-form{
  margin-top: 2vw;
  margin-left: 15vw;
}

label{
  font-family: 'Noto Sans TC', sans-serif;
  font-style: lighter;
  display: block;
}

input{
  width: 250px;
  height: 30px;
  border: 2.5px solid $border-blue;
  border-radius: 5px;
  &:focus{
    background-color: $white-form;
    border: 2.5px solid $dark-blue;
  }
}

textarea{
  width: 350px;
  height: 150px;
  border: 2.5px solid $border-blue;
  border-radius: 5px;
  &:focus{
    background-color: $white-form;
    border: 2.5px solid $dark-blue;
  }
}

#btn-contact{
  border-radius: 5px;
  color: $dark-blue;
  background-color: $grey-button;
  cursor: pointer;
  padding: 5px;
  font-size: 13pt;
    &:hover{
    background-color: $dark-blue;
    color: white;
  }
}

@media (max-width: 600px) {
  #contact-form{
    margin-left: 4vw;
  }
  input{
    width: 220px;
  }
  textarea{
    width: 220px;
    height: 200px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #contact-form{
    margin-left: 14vw;
  }
  textarea{
    width: 250px;
    height: 200px
  }
}
