#contact{
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin: 1vw 20vw 8vw;
}

#contact-bottom{
  background-color: #F7F7F7;
  height: 20vw;
  padding: 20px;
}

#title-contact{
  color: $dark-blue;
  font-family: 'Bitter', serif;
  text-align: center;
  border-bottom: 8px solid $border-blue;
}


#text-contact{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 13pt;
  margin-left: 13vw;
  margin-right: 13vw;
}

