$grey-border: #75846F;
$white-back: #F7F7F7;
$dark-blue: #1F1F31;
$border-blue: #808A9F;
$orange-footer: #DDA448;
$skill-color: #454545;

body{
  padding: 0;
  margin: 0;
  background: $white-back;
}

#myBtn{
  font-size: 20pt;
  color: $dark-blue;
  position: fixed;
  bottom: 8px;
  right: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn:hover {
  bottom: 18px;
}
