#projects{
  padding-top: 0.2vw;
  padding-bottom: 2.5vw;
}

#projects-middle{
  background-color: $grey-button;
  height: 39vw;
  // width: 80vw;
  padding: 20px;
  // margin-left: 10vw;
  position: relative;
  z-index: 0;
}

#projects-title{
  margin: 2vw 15vw;
  color: $dark-blue;
  font-family: 'Bitter', serif;
  text-align: center;
}

// slideshow

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-bottom: none;
}

.img-slide{
  height: 33vw;
  width: 48vw;
  position: relative;
  z-index: -1;
  opacity: 1;
  transition: opacity 1.1s ease-in-out;
}

.pic-transition:hover .slideshow-text {
  visibility: visible;
  opacity: 1;
  color: $white-back;
  background-color: $border-blue;
}

.pic-transition:hover .img-slide{
  opacity: 0.2;
}

/* Caption text */
.slideshow-text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 24vw;
  opacity: 0;
  visibility: hidden;
  transition: 1.1s ease-in-out;
  font-family: 'Noto Sans TC', sans-serif;
}

.link-slide{
  border-radius: 5px;
  text-decoration: none;
  line-height: 35pt;
  padding: 0.5vw;
  color: $white-back;
  font-family: 'Bitter', serif;
  cursor: pointer;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 12pt;
  background-color: $dark-blue;
  &:hover{
  text-decoration: none;
  color: $white-back;
  background-color: $grey-button;
  }
}

// /* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $border-blue;
  transition: 1s ease-in-out;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  background-color: $dark-blue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease-in-out;
}

.active, .dot:hover {
  background-color: $white-back;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1 !important;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
