#projects{
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#projects-middle{
  // border: 6px solid $grey-border;
  // box-shadow: 5px 5px $border-shadow;
  background-color: #B0C0BC;
  height: calc(calc(100vh - 5vw) - 52px);
  padding: 20px;
}
