#projects{
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#projects-middle{
  background-color: #B0C0BC;
  height: 30vw;
  padding: 20px;
}

#projects-title{
  margin: 2vw 15vw;
  color: $dark-blue;
}

// slideshow

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: 145.5%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 8px solid $dark-blue;
  border-bottom: none;
}

.img-slide{
  height: 33vw;
  width: 48vw;
}

// /* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $border-blue;
}

/* Caption text */
.slideshow-text {
  // color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  // position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  background-color: $dark-blue;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $dark-blue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: $border-blue;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1 !important;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
