html {
  scroll-behavior: smooth;

#welcome-heading{
  background-color: $dark-blue;
  height: 55vh;
  width: 100vw;
  margin-top: -2.5vw;
}

#title-heading{
  margin-top: 3vw;
  padding: 2vw;
  font-size: 40pt;
  color: $white-back;
  font-family: 'Bitter', serif;
}

#subtitle-heading{
  margin-top: -4.5vw;
  padding: 2vw;
  font-size: 18pt;
  color: $white-back;
  font-family: 'Noto Sans TC', sans-serif;
}

#menu-total{
  width: 27vw;
  height: 27vw;
  border: 15px solid $dark-blue;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: -14vw;
  position: relative;
}

#arrow{
  margin-top: 40vh;
  font-size: 35pt;
  color: $dark-blue;
  text-align: center;
}

#laptop_image{
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  position: absolute;
  z-index: 1;
  transform: rotate(2deg);
}

.menu-item{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 13pt;
  color: $white-back;
}

@keyframes showProjects{
  0%{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 1.5vw;
    left: 0;
    z-index: 0;
  }
}

#menu-projects{
  animation: 1s showProjects;
  transform: rotate(-45deg);
  transform-origin: center;
  top: 1.5vw;
  left: 0;
  z-index: 2;
  &:hover {
    left: -0.5vw;
    border-bottom: 2px solid $border-blue;
  }
}

@keyframes showAbout{
  0%{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  100% {
    top: 0;
    transform: translate(-50%, -150%);
  }
}

#menu-about{
  animation: 1s showAbout;
  top: 0;
  transform: translate(-50%, -150%);
  &:hover {
    top: -0.5vw;
    border-bottom: 2px solid $border-blue;
  }
}

@keyframes showContact{
  0%{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    top: 1.5vw;
    right: 0;
    left: auto;
    z-index: 0;
  }
}

#menu-contact{
  animation: 1s showContact;
  transform: rotate(45deg);
  transform-origin: center;
  top: 1.5vw;
  right: 0;
  left: auto;
  z-index: 2;
  &:hover {
    right: -0.5vw;
    border-bottom: 2px solid $border-blue;
  }
}}
