html {
  scroll-behavior: smooth;

// Make animation wait
body{
  &.js-still-loading *,
  .js-still-loading *:before,
  .js-still-loading *:after {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
  }
}

#welcome-header{
  height: 550px;
}

#welcome-heading{
  background-color: $dark-blue;
  height: 400px;
  width: 100%;
  margin-top: -20px;
}

#title-heading{
  padding: 2vw;
  font-size: 40pt;
  color: $white-back;
  font-family: 'Bitter', serif;
}

#subtitle-heading{
  margin-top: -4.5vw;
  padding: 2vw;
  font-size: 18pt;
  color: $white-back;
  font-family: 'Noto Sans TC', sans-serif;
}

#menu-total{
  width: 390px;
  height: 390px;
  border: 15px solid $dark-blue;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vw;
  margin-bottom: -14vw;
  position: relative;
}

#arrow-down{
  width: 100%;
  margin-top: 5vw;
  text-align: center;
  font-size: 35pt;
  color: $dark-blue;
  cursor: pointer;
  &:hover{
    margin-top: 6vw;
  }
}

#laptop-image{
  border-radius: 50%;
  width: 360px;
  height: 360px;
  position: absolute;
  z-index: 1;
  transform: rotate(2deg);
  background-color: $dark-blue;
}

@media (max-width: 650px) {
  #laptop-image{
    height: 200px;
    width: 200px;
    background-color: $dark-blue;
  }
  #menu-total{
    width: 230px;
    height: 230px;
    margin-top: 165px;
  }
  #title-heading{
    font-size: 33pt;
  }
}

@media (min-width: 651px) and (max-width: 1200px) {
  #laptop-image{
    height: 300px;
    width: 300px;
    background-color: $dark-blue;
  }
  #menu-total{
    width: 330px;
    height: 330px;
    margin-top: 57px;
  }
}

// menu animation

.menu-item{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 12pt;
  color: $white-back;
  cursor: pointer;
}

@keyframes showProjectsBig{
  0%{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    visibility: hidden;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 1.5vw;
    left: 0;
    z-index: 0;
  }
}

@keyframes showProjectsSmall{
  0%{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    visibility: hidden;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: center;
    top: -1vw;
    left: -7vw;
    z-index: 0;
  }
}

#menu-projects{
  transform: rotate(-45deg);
  transform-origin: center;
  z-index: 2;
  padding: 7px;
  &:hover {
    border-radius: 5px;
    background-color: $grey-menu;
  }
}

@keyframes showAbout{
  0%{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
  }
  100% {
    top: 1vw;
    transform: translate(-50%, -150%);
  }
}

#menu-about{
  animation: 1s showAbout;
  top: 1vw;
  transform: translate(-50%, -150%);
  padding: 7px;
  &:hover {
    top: 0.7vw;
    border-radius: 5px;
    background-color: $grey-menu;
  }
}

@keyframes showContactBig{
  0%{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    visibility: hidden;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    top: 1.5vw;
    right: 0;
    left: auto;
    z-index: 0;
  }
}

@keyframes showContactSmall{
  0%{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    visibility: hidden;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: center;
    top: -1vw;
    right: -7vw;
    left: auto;
    z-index: 0;
  }
}

#menu-contact{
  transform: rotate(45deg);
  transform-origin: center;
  left: auto;
  z-index: 2;
  padding: 7px;
  &:hover {
    border-radius: 5px;
    background-color: $grey-menu;
  }
}}

@media (max-width: 650px) {
  #menu-contact{
  animation: 1s showContactSmall;
  right: -7vw;
  top: -1vw;
    &:hover{
      right: -7vw;
    }
  }
  #menu-projects{
    animation: 1s showProjectsSmall;
    top: -1vw;
    left: -7vw;
    &:hover{
      left: -7vw;
    }
  }
}

@media (min-width: 651px) {
  #menu-contact{
    animation: 1s showContactBig;
    top: 1.5vw;
    right: 0;
    &:hover{
      right: -0.5vw;
    }
  }
  #menu-projects{
    animation: 1s showProjectsBig;
    top: 1.5vw;
    left: 0;
    &:hover{
      left: -0.5vw;
    }
  }
}
